.idea/
.svn/
.metadata/

noc-screens/build.log
dashboard/build.log

noc-screens/target/
dashboard/target/

noc-screens/.settings
noc-screens/.classpath
noc-screens/.project

dashboard/.settings
dashboard/.classpath
dashboard/.project

noc-screens/src/main/js/dojo/
noc-screens/src/main/js/dijit/
noc-screens/src/main/js/dojox/
noc-screens/src/main/js/util/
noc-screens/src/main/js/uncompressed/

dashboard/src/main/js/dojo/
dashboard/src/main/js/dijit/
dashboard/src/main/js/dojox/
dashboard/src/main/js/util/
dashboard/src/main/js/uncompressed/
