/* ----------------- Masthead -----------------*/
table.masthead
{
    background-color: #036;
    background-image: url("../images/masthead_grad.png");
    background-repeat: repeat-y;
    background-position: right;
    width: 100%;
    height: 25px;
}
table.masthead td
{
    color: #fff;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif, Verdana;
    line-height: 11px;
    vertical-align: middle;
}
table.masthead td.logo
{
    width: 30px;
    padding-top: 4px;
    padding-left: 10px;
    padding-bottom: 4px;
}
table.masthead td.role_field
{
    text-align: right;
    vertical-align: middle;
    width: 10%;
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
}
table.masthead td.user_field
{
    text-align: right;
    vertical-align: middle;
    width: 20%;
    padding-left: 10px;
    white-space: nowrap;
}
table.masthead td.logout
{
    text-align: right;
    width: 5%;
    padding-top: 4px;
    padding-right: 5px;
    padding-left: 12px;
}
table.masthead a.button
{
    color: #fff;
    display: block;
    font: 10px Arial, sans-serif;
    background-color: transparent;
    background-image: url("../images/bg_button_masthead_a.png");
    background-repeat: no-repeat;
    background-position: right top;
    height: 18px;
    padding-right: 13px; /* sliding doors padding */
    text-decoration: none;
    float: right;
    white-space: nowrap;
    border: none;
}
table.masthead a.button span
{
    display: block;
    line-height: 14px;
    background-color: transparent;
    /*background-image: url("../images/bg_button_masthead_span.png");*/
    background-repeat: no-repeat;
    background-position: left top;    padding: 0 0 4px 13px;
}
table.masthead td.mastheadTitle
{
    padding-left:         10px;
    text-align:           left;
    vertical-align:       middle;
}

/* ----------------- Accordion -----------------*/
a.document {
    font-weight: 500;
    font-size: 12px;
}
