.rowtext {
    font-size: 10px;
    font-family:Helvetica Neue;
}

.onlineTxRowOdd {
    background-color:#F2F7E8
}

BODY {
    background-color: #fff;
}

#loginHeader {
    border-collapse: collapse;
    width: 100%;
    border: none;
}

#loginHeader TBODY TR TD {
    padding: 0px;
}

.loginHeaderIcon IMG {
    margin-left: 20px;
}

.loginHeaderTitle {
    vertical-align: middle;
}

.loginHeaderTitle DIV {
    margin-bottom: 20px !important;
    margin-right: 20px;
}

.loginHeaderPhoto DIV {
    background: #fff;
    border: 0px;
    border-left: 7px solid #fff;
    float: right;
    width: 307px;
    height: 39px;
}

DIV.Title {
    border:               0px;
    background-image:     url(../images/box-header.png);
    background-repeat:    repeat;
    padding-left:         4px;
    padding-top:          2px;
    padding-bottom:       4px;
    padding-right:        2px;
    color:                black;
    overflow:             hidden;
    text-overflow:        ellipsis; /*IE Only*/
    width:                auto;
}

DIV.Title {
    margin-top:           1px;
    margin-right:         1px;
}

body, td {
    font-family: arial;
    font-size: 13px;
}

a.document {
    font-weight: 500;
    font-size: 12px;
}


.timegroup{
    position:relative;
    top:2px; left:2px;
}

.chart {
    position:relative;
    top:2px; left:2px;
}

.dgrid-scroller{
    overflow:hidden!important;
}

.dgrid-cell {
    text-align:center!important;
}

.topoIconContainer {
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    opacity:0.8;
    filter:alpha(opacity=80);
    width:5em; height:5em;
    line-height:5em;
    text-align:center;
    z-index:20;
    position:relative;
    background-color:#eeeeef;
    color:black;
    font-family:helvetica;
    padding:0.5em;
    font-size:0.9em;
}

.topoIconContainer:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity:0.6;
    filter:alpha(opacity=60);
}


